{% extends 'base.html' %}
{% load static %}



{% block content %}

    <!--all products  start -->
    <section id="new-arrivals" class="new-arrivals">

                <div class="container">
            <div class="section-header">
              <!-- <h2>new arrivals</h2>-->        
            </div><!--/.section-header-->
          <div class="new-arrivals-content">
            <div class="row">
              {% for item in items %}
              <div class="col-md-3 col-sm-4">
                  {% if item.itemimage_set %}
                  {% for item in item.itemimage_set.all %}
                  <div class="single-new-arrival">
                    <div class="single-new-arrival-bg">
                      <img src="{{ MEDIA_URL }}{{ item.image.url }}" alt="new-arrivals images">
                      <div class="single-new-arrival-bg-overlay"></div>
                      <div class="sale bg-1">
                        <p>sale</p>
                      </div>
                      <div class="new-arrival-cart">
                        <p>
                          <span class="lnr lnr-cart"></span>
                          <a href="#">add <span>to </span> cart</a>
                        </p>
                        <p class="arrival-review pull-right">
                          <span class="lnr lnr-heart"></span>
                          <span class="lnr lnr-frame-expand"></span>
                        </p>
                      </div>
                    </div>

                  {% endfor %}
                      <h4><a href="/items/{{ item.slug }}">{{ item.title|safe }}</a></h4>
                      
                      <p class="arrival-product-price">Now @ ${{ item.sale_price|safe }}</p>
                      <p class="arrival-product-price">Was <del>${{ item.price }}</del></p>
                      <p>{{ item.description|safe }}</p>
                  </div>         
                {% else %}
                  <div class="single-new-arrival">
                    <div class="single-new-arrival-bg">
                      <img src="static/media/products/images/default.jpg" alt="new-arrivals images">
                      <div class="single-new-arrival-bg-overlay"></div>
                      <div class="sale bg-1">
                        <p>sale</p>
                      </div>
                      <div class="new-arrival-cart">
                        <p>
                          <span class="lnr lnr-cart"></span>
                          <a href="#">add <span>to </span> cart</a>
                        </p>
                        <p class="arrival-review pull-right">
                          <span class="lnr lnr-heart"></span>
                          <span class="lnr lnr-frame-expand"></span>
                        </p>
                      </div>
                    </div>
                    <!-- <h4><a href="/items/{{ item.slug }}">{{ item.title }}</a></h4> -->
                    <h4><a href="#">{{ item.title }}</a></h4>
                    <p class="arrival-product-price">Now @ ${{ item.sale_price }}</p>
                    <p class="arrival-product-price">Was<del>${{ item.price }}</del></p>
                    <p>{{ item.description|safe }}</p>
                  </div>
                {% endif %}
              </div>
              {% endfor %}
              
            </div>
          </div>
        </div><!--/.container-->

    </section><!--/.new-arrivals-->
    <!--all products end -->


{% endblock %}
